body{text-align: center;}
div{font-weight: bold; font-size: 20px; align-content: center;}
#Box1{
    width: 512px; height: 512px;
    background-color: lightblue;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 20px;
    padding: 50px;
    border: 10px solid black;
}